{% extends 'user/base.html' %}

{% block body %}
<div class="container" style="width: 400px; border: 2px solid rgb(201, 196, 196); padding: 25px;">

    <form action="/signup" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">username</label>
          <input type="text" name="username" class="form-control">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">email</label>
          <input type="email" name="email" class="form-control">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
          </div>
        <center><button type="submit" class="btn btn-primary">Signup</button></center>
      </form>
    
{% endblock %}